<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1><a href="http://127.0.0.1:8000">Bejem</a></h1>
    {% if user %}
        {% if user.is_authenticated %}
            <p>
                Welcome, {{ user.username }}. <a href="http://127.0.0.1:8000/logout">Log out</a>
            </p>
        {% else %}
            <p>
                <a href="http://127.0.0.1:8000/login">Log in.</a>
                <a href="http://127.0.0.1:8000/registration">Register</a>
            </p>
        {% endif %}
    {% endif %}

    <table>
        <tr>
            <td>
                <p>
                    {%if user.is_authenticated%}
                        <br><a href="http://127.0.0.1:8000/users/{{ user.username}}">My page</a></br>
                        <br><a href="http://127.0.0.1:8000/search">Search</a></br>
                    {% endif %}
                    {% if user.is_superuser %}
                        <br><a href="http://127.0.0.1:8000/admin">Admin</a></br>
                    {% endif %}
                </p>
            </td>
            <td>
                {% block content %}
                {% endblock %}
            </td>
        </tr>
    </table>

    <hr>

    {% block footer %}
    <p>;)</p>
    {% endblock %}
</body>
</html>
