<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    <h1><a href="http://127.0.0.1:8000">Bejem</a></h1>

    <table border=1 cellspacing=0 cellpadding=5>
        <tr>
            <td align=left valign=top style="background-color: #ffff33" width=128>
                <ul>
                    {%if user.is_authenticated%}
                        <li><a href="http://127.0.0.1:8000/users/{{ user.username}}">My page</a></li>
                        <li><a href="http://127.0.0.1:8000/search">Search</a></li>
                    {% endif %}
                    {% if user.is_superuser %}
                        <li><a href="http://127.0.0.1:8000/admin">Admin</a></li>
                    {% endif %}
                </ul>
            </td>
            <td align=left valign=top width=570>
                {% if user %}
                    {% if user.is_authenticated %}
                        <p>
                            Welcome, {{ user.username }}. <a href="http://127.0.0.1:8000/logout">Log out</a>
                        </p>
                    {% else %}
                        <p>
                            <a href="http://127.0.0.1:8000/login">Log in.</a>
                            <a href="http://127.0.0.1:8000/registration">Register</a>
                        </p>
                    {% endif %}
                {% endif %}

                {% block content %}
                {% endblock %}
            </td>
        </tr>
    </table>

    <hr>

    {% block footer %}
    <p>;)</p>
    {% endblock %}
</body>
</html>
