{% extends "base.html" %}

{% block title %}Search{% if query %} Results{% endif %} {% endblock %}

{% block content %}
    <p>Search page.</p>

	<p>
        <form action="." method="GET">
        <label for="q">Search: </label>
        <input type="text" name="q" value="{{ query|escape }}">
        <input type="submit" value="Search">
        </form>
    </p>

    {% if query %}
        <p>Results for "{{ query|escape }}":</p>

        {% if results %}
            <ul>
            {% for user in results %}
                <li>{{ user|escape }}</li>
            {% endfor %}
            </ul>
        {% else %}
            <p>No users found</p>
        {% endif %}
    {% endif %}
{% endblock %}
